.header_wrap{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #ff6600;
    padding: 5px;
}
.link{
    font-size: 1.4rem;
    margin: 0 4px;
    text-decoration: none;
    color: #000;
    
}
.link:first-child{
    flex: 0.5;
    white-space: nowrap;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 10px;
}
.list a{
    color: #000;
    text-decoration: none;
}
.list{
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.list_head{
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
}
.list_url{
    font-size: 0.8rem;
    color: #616161;
    word-break: break-all;
}
.list_detail{
    margin-bottom: 10px;
}
.line{
    display: flex;
    justify-content: center
}
hr{
    height: 2px;
    background-color: #9e9e9e;
    box-shadow: none;   
    opacity: 0.8;
    width: 80%
}
